@page
@model Euro2024B_LeHoangNhatTan.Pages.TeamPage.IndexModel

@{
    var email = HttpContext.Session.GetString("email");
    if(email is null)
        Response.Redirect("/Unauthorize");

    var role = HttpContext.Session.GetString("role");
    if (role is null || (!role.Equals("1") && !role.Equals("3")))
    {
        Response.Redirect("/Unauthorize");
    }

}
@if(role is not null)
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].Point)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].Group)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Team) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Point)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group.GroupName)
            </td>
            <td>
                    @if(role.Equals("1"))
                    {
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> 
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> 
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    }
             </td>
        </tr>
}
    </tbody>
</table>
